
.tabs{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  margin-top: 30px;
  font-family:Tahoma;
  font-size: 12px;
  color: #9c78e0 ;
}

.what{
  text-align: center;
  color:#845162;
  font-family: Tahoma;
}
#intro{
text-align: center;
color: #e3b6b1;
font-family: Tahoma;
}

.background{
  background-color: #150016;
}

#home{
  border-right: solid;
  border-color: #e3b6b1;
  border-radius: 90px;
  border-style: solid;
  height: px;
  width: 100px;
  background-color: #29104A;
  margin-left: 45px;
  cursor: pointer;
}

#home:hover{
  background-color: #522C5D;
}

#home:active{
  background-color: #e3b6b1;
}

#about{
  border-right: solid;
  border-color: #e3b6b1;
  border-radius: 90px;
  border-style: solid;
  width: 100px;
  background-color: #29104A;
  margin-left: 45px;
  cursor: pointer;
}

#about:hover{
  background-color:#522C5D ;
}

#about:active{
  background-color: #e3b6b1;
}

#skills{
  border-right: solid;
  border-color: #e3b6b1;
  border-radius: 90px;
  border-style: solid;
  height: px;
  width: 100px;
  background-color:  #29104A;
  margin-left: 45px;
  cursor: pointer;
}

#skills:hover{
background-color: #522C5D;
}

#skills:active{
  background-color: #e3b6b1;
}

#contact{
  border-right: solid;
  border-color: #e3b6b1;
  border-radius: 90px;
  border-style: solid;
  height: px;
  width: 100px;
  background-color: #29104A;
  margin-left: 45px;
  cursor: pointer;
}

#contact:hover{
  background-color: #522C5D;
}

#contact:active{
  background-color: #e3b6b1
}

